* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Space Grotesk", sans-serif;
}

p {
    font-family: "Inter", sans-serif;
}

.header-container {
    width: 1230px;
    margin: auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-content-menu ul {
    display: flex;
    gap: 30px;
}

.header-content-menu ul li {
    list-style: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.header-content-menu ul li a {
    color: #3A3A3A;
    text-decoration: none;
}

.header-content-menu ul li a:hover {
    color: #1FA9FF;
}

.hero-container {
    width: 1230px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    display: flex;
    gap: 200px;
}

.hero-content-right {
    align-content: center;
}

.hero-content-right h1 {
    font-size: 66px;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 10px;
}

.hero-content-right p {
    font-size: 20px;
    font-weight: 400;
    color: #3A3A3A;
    margin-bottom: 30px;
}

.talk {
    background-color: #1FA9FF;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.6s;
}

.talk:hover {
    transform: scale(1.1);
}

.great-companies-container {
    width: 1230px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.great-companies-content {
    display: flex;
    gap: 80px;
}

.great-companies-content-left {
    align-content: center;
    background-color: #F6F6F6;
    padding: 35px;
    border-radius: 20px;
}

.great-companies-content-left h1 {
    font-size: 50px;
    font-weight: 700;
    color: #3A3A3A;
}

.great-companies-content-left p {
    font-size: 18px;
    font-weight: 400;
    color: #3A3A3A;
    margin-top: 10px;
    margin-bottom: 30px;
}

.counter-container {
    width: 1230px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-content {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.counter-content-one h1 {
    font-size: 32px;
    font-weight: 700;
    color: #3A3A3A;
}

.counter-content-one h2 {
    font-size: 20px;
    font-weight: 600;
    color: #3A3A3A;
}

.solutions-container {
    width: 1230px;
    margin: auto;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.solutions-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.solutions-content h1 {
    font-size: 50px;
    font-weight: 700;
    color: #3A3A3A;
    text-align: center;
    width: 60%;
    margin: auto;
}

.solutions-content-bottom {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    justify-content: center;
    align-items: flex-start;
}

.solutions-content-bottom-card {
    background-color: #F6F6F6;
    padding: 30px;
    border-radius: 10px;
    width: 250px;
    height: 180px;
    text-align: left;

}

.solutions-content-bottom-card-4 {
    background-color: #F6F6F6;
    padding: 30px;
    border-radius: 10px;
    width: 250px;
    height: 470px;
    text-align: left;
}

.solutions-content-bottom-card h1 {
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 10px;
}

.solutions-content-bottom-card p {
    font-size: 14px;
    font-weight: 400;
    color: #3A3A3A;
    margin-top: 10px;
}

.solutions-content-bottom-card-4 h1 {
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 10px;
}

.solutions-content-bottom-card-4 p {
    font-size: 14px;
    font-weight: 400;
    color: #3A3A3A;
    margin-top: 10px;
    margin-bottom: 100px;
}

.solutions-content-bottom-5 {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-top: -277px;
}

.solutions-content-bottom-card-5 {
    background-color: #F6F6F6;
    padding: 30px;
    border-radius: 10px;
    width: 385px;
    height: 220px;
    text-align: left;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.solutions-content-bottom-card-5 h1 {
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 10px;
}

.solutions-content-bottom-card-5 p {
    font-size: 14px;
    font-weight: 400;
    color: #3A3A3A;
    margin-top: 10px;
    margin-bottom: 100px;
}

.corebridge-difference-container {
    width: 1230px;
    margin: auto;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.corebridge-difference-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.corebridge-difference-content h1 {
    font-size: 50px;
    font-weight: 700;
    color: #3A3A3A;
}

.corebridge-difference-content-bottom {
    display: flex;
    gap: 400px;
    margin-top: 50px;
}

.corebridge-difference-content-bottom-1 {
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}

.corebridge-difference-content-bottom-1 h2 {
    font-size: 24px;
    font-weight: 700;
    color: #1FA9FF;
}

.corebridge-difference-content-bottom-2 {
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}

.corebridge-difference-content-bottom-2 h3 {
    font-size: 24px;
    font-weight: 500;
    color: #3A3A3A;
}

.clients-say-container {
    width: 1230px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.clients-say-content {
    display: flex;
    gap: 50px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.clients-say-content-left {
    display: flex;
    gap: 20px;
}

.clients-say-content-left-card {
    background-color: #F6F6F6;
    padding: 30px;
    border-radius: 10px;
    text-align: left;
}

.clients-say-content-left-card h1 {
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 10px;
}

.clients-say-content-right {
    align-content: center;
}

.clients-say-content-right h1 {
    font-size: 50px;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 10px;
}

.clients-say-content-right p {
    font-size: 18px;
    font-weight: 500;
    color: #3A3A3A;
    margin-bottom: 20px;
}

.hr-solutions-container {
    width: 1230px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.hr-solutions-content {
    margin-bottom: 100px;
}

.hr-solutions-content h1 {
    font-size: 50px;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 10px;
    text-align: center;
    width: 60%;
    margin: auto;
}

.hr-trends-container {
    width: 1230px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.hr-trends-content {
    margin-bottom: 100px;
    text-align: center;
}

.hr-trends-content h1 {
    font-size: 50px;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 10px;
    text-align: center;
    width: 60%;
    margin: auto;
}

.hr-trends-content-bottom {
    display: flex;
    justify-content: center;
    gap: 130px;
    margin-bottom: 50px;

}

.hr-trends-content-bottom-card {
    width: 325px;
}

.hr-trends-content-bottom-card h1 {
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 10px;
}

.build-stronger-container {
    width: 1230px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.build-stronger-content-bottom {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.build-stronger-content-bottom-left h1 {
    font-size: 50px;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 10px;
}

.build-stronger-content-bottom-left p {
    font-size: 18px;
    font-weight: 400;
    color: #3A3A3A;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-container {
    width: 1230px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 10px;
}

.footer-content {
    display: flex;
    align-items: top;
    gap: 100px;
}

.footer-content-logo {
    width: 30%;
}

.footer-content-pages h1 {
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 10px;
}

.footer-content-pages ul {
    list-style: none;

}

.footer-content-pages ul li {
    margin-bottom: 15px;
}

.footer-content-pages ul li a {
    font-size: 18px;
    font-weight: 400;
    color: #3A3A3A;
    text-decoration: none;
    font-family: "Inter", sans-serif;

}
.copy-right{
    text-align: center;
    margin-top: 50px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #3A3A3A;
}