* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Space Grotesk", sans-serif;
}

p {
    font-family: "Inter", sans-serif;
}

.header-container {
    width: 1230px;
    margin: auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-content-menu ul {
    display: flex;
    gap: 30px;
}

.header-content-menu ul li {
    list-style: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.header-content-menu ul li a {
    color: #3A3A3A;
    text-decoration: none;
}

.header-content-menu ul li a:hover {
    color: #1FA9FF;
}